annotated-types==0.7.0
black==26.1.0
build==1.4.0
cfgv==3.5.0
click==8.3.1
distlib==0.4.0
filelock==3.20.3
identify==2.6.16
iniconfig==2.3.0
librt==0.7.8
mypy==1.19.1
mypy_extensions==1.1.0
networkx==3.6.1
nodeenv==1.10.0
numpy==2.4.2
packaging==26.0
-e git+ssh://git@github-personal/normansimonr/pericope_adulterae_simulation.git@6459a06d691e0a1ce7fd901d2713ff4186574654#egg=pasim
pathspec==1.0.4
pip-tools==7.5.2
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==9.0.2
pytokens==0.4.1
PyYAML==6.0.3
ruff==0.15.0
setuptools==80.10.2
types-networkx==3.6.1.20251220
types-PyYAML==6.0.12.20250915
typing-inspection==0.4.2
typing_extensions==4.15.0
virtualenv==20.36.1
wheel==0.46.3
